.DS_Store

# BMAD personal/local configuration
_bmad/config.user.toml
_bmad/custom/config.user.toml

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.pem

# local env files
.env*.local
.env
apps/api/.env
apps/mobile/.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
